.headWrap {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 100%;
  /* background: #181515cf; */
  padding: 0px 5px;
}

.headWrap ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.menuWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navDrop .dropdown-menu {
  background-color: var(--primary-blue) !important;
}

.inNav {
  /* background-color: var(--primary-blue); */
  text-align: end;
  flex-grow: unset !important;
  width: 87%;
  padding-top: 10px;
}

.inNav a {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-right: 10px;
}

.inNav a:hover {
  color: var(--primary-orange);
}

.containerWrap {
}

.headWrap ul li a {
  color: #000;
  /* color: var(--primary-blue); */
  font-size: 18px;
  /* font-weight: 600; */
  text-transform: capitalize;
  letter-spacing: 2px;
}

.headWrap ul li a:hover {
  color: var(--primary-orange);
}

.headWrap a {
  text-decoration: none;
}

.logo {
  font-size: 28px;
  line-height: 28px;
  font-weight: 800;
  /* width: 20%; */
  /* padding: 5px 0px; */
  z-index: 1;
  /* letter-spacing: 2px; */
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--primary-blue);
  z-index: 6;
}

.logo img {
  margin-left: 10px;
}

.mid {
  display: flex;
  justify-content: center;
  width: 20%;
  /* z-index: -2; */
}

.headContactWrap a {
  color: #fff;
  /* font-size: 20px; */
  line-height: 20px;
}

.headContactWrap a.contactNum svg {
  margin-right: 0px;
  align-items: center;
  font-size: 30px;
  line-height: 30px;
}

.headWrap .socialLinks {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.headWrap .contactNum {
  /* margin-right: -5px;
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 30px; */
}

.contactNum svg {
  /* margin-right: 10px; */
}

.headContactWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
}

@media (max-width: 1179px) {
  .mid {
    display: none;
  }
  .logo {
    width: 10%;
    z-index: 6;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .logo {
    width: 8%;
    z-index: 6;
  }
}

@media (max-width: 991px) {
  .inNav {
    background: orange;
    position: absolute;
    right: 0px;
    top: -2%;
    z-index: 5;
    width: fit-content;
    padding: 101px 20px 20px;
    width: 100%;
    left: 0;
  }

  .toggleBtn {
    z-index: 6;
  }

  .headContactWrap {
    justify-content: space-between;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* background: red; */
  }

  .headContactWrap .contactNum {
    width: 37%;
    margin: 0;
    text-align: start;
  }

  .headContactWrap .socialLinks {
    width: 38%;
    justify-content: flex-end;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 15%;
    z-index: 6;
  }

  .inNav a {
    font-size: 22px;
    line-height: 32px;
  }

  .inNav .headContactWrap a {
    font-size: 16px;
    line-height: 22px;
  }

  .headContactWrap .contactNum {
    width: 100%;
    margin: 0;
    text-align: start;
  }

  .headContactWrap .socialLinks {
    width: 100%;
    justify-content: flex-end;
  }
}
