/* how work section  */
.howWrokWrap {
  height: 100vh;

  padding-top: 140px;
  margin-bottom: 22%;
}

.lowerWeWork {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.lowerWeWork::before {
  position: absolute;
  content: "";
  top: 10%;
  bottom: 15%;
  width: 1%;
  background-color: #fff;
  animation: moveLine 5s linear infinite;
  z-index: 0;
}

@keyframes moveLine {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

.shapeOuter {
  position: relative;
}

.lowerWeWork .shapeDiv {
  width: 170px;
  height: 170px;
  background-color: #5fc6d1;
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
  border: 10px solid #fff;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  transition: 0.5s ease-in-out;
}

.lowerWeWork .shapeDiv:hover {
  border: 10px solid var(--button-color);
  box-shadow: rgb(5 160 129 / 20%) 9px 13px 46px 18px,
    rgb(5 160 129 / 10%) 2px 15px 20px 29px,
    rgb(5 160 129 / 26%) 0px 0px 0px 1px inset;
}

/* .lowerWeWork .shapeDiv2 {
  background-color: orange;
}

.lowerWeWork .shapeDiv3 {
  background-color: orange;
}

.lowerWeWork .shapeDiv4 {
  background-color: orange;
}

.lowerWeWork .shapeDiv5 {
  background-color: orange;
} */

.lowerWeWork .after {
  /* content: ""; */
  position: absolute;
  background: #e3e8ff;
  width: 100%;
  height: 94px;
  z-index: -1;
}

.lowerWeWork .shapeDiv::before {
  content: "";
  position: absolute;
  /* background: #e3e8ff; */
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffffff;
  bottom: -18%;
  left: 37%;

  transition: 0.5s ease-in-out;
}

.lowerWeWork .shapeDiv:hover::before {
  border-top: 20px solid var(--button-color);
}

.lowerWeWork .shapeOuter:nth-child(even) .shapeDiv {
  margin-top: 90px;
  background-color: orange;
}

.lowerWeWork .after,
.lowerWeWork .shapeDiv3::after {
  transform: skewY(38deg);
  left: 66%;
  top: 40%;
}

.shapeOuter:nth-child(even) .after {
  position: absolute;
  content: "";
  transform: skewY(-30deg);
  left: 66%;
  top: 26%;
}

.shapeDiv.shapeDiv5 {
  margin-right: 0;
}

.lowerWeWork .shapeDiv .iconWrap {
  font-size: 66px;
}

.lowerWeWork .shapeDiv .iconWrap svg {
  position: absolute;
  top: 30%;
  left: 28%;
}

.lowerWeWork .shapeDiv img {
  position: absolute;
  top: 25%;
  left: 25%;
}

.lowerWeWork .shapeDiv .content {
  position: absolute;
  top: 160%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  /* left: 20%; */
}

.lowerWeWork .shapeDiv .content .title {
  color: #000;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.lowerWeWork .shapeOuter .content .drop {
  background-color: orange;
  width: 20px;
  height: 20px;

  z-index: -1;
}

.lowerWeWork .shapeOuter:nth-child(even) .content .drop {
  background-color: #5fc6d1;
}

.lowerWeWork .shapeOuter:nth-child(even) .content .drop::before {
  border-bottom: 30px solid #5fc6d1;
}

/* .lowerWeWork .shapeOuter .content .drop::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 31px solid orange;
  top: -21px;
} */

@media (min-width: 1400px) {
  .lowerWeWork .after,
  .lowerWeWork .shapeDiv3::after {
    transform: skewY(30deg);
    left: 66%;
    top: 34%;
  }
}
@media (max-width: 1024px) {
  .lowerWeWork .shapeOuter .content .drop {
    width: 12px;
    height: 12px;
  }

  .lowerWeWork .shapeDiv .content {
    top: 145%;
  }

  .howWrokWrap {
    height: 71vh;
    padding-top: 85px;
    margin-bottom: 0;
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .lowerWeWork .shapeOuter .content .drop {
    display: none;
  }

  .lowerWeWork .shapeDiv {
    width: 115px;
    height: 115px;
    margin-right: 0px;
  }

  .lowerWeWork .shapeDiv::before {
    bottom: -25%;
    left: 31%;
  }

  .lowerWeWork .after {
    height: 60px;
    top: 33%;
  }

  .shapeOuter:nth-child(even) .after {
    top: 35%;
  }

  .lowerWeWork .shapeDiv .iconWrap {
    font-size: 50px;
  }

  .lowerWeWork .shapeDiv .iconWrap svg {
    top: 25%;
    left: 25%;
  }
}

/* .lowerWeWork .after:last-child {
  display: none;
} */

@media (max-width: 767px) {
  .howWrokWrap {
    height: unset;
  }

  /* .lowerWeWork .after:last-child {
    display: block;
  } */

  .lowerWeWork {
    flex-wrap: wrap;
    justify-content: center;
  }

  .lowerWeWork .shapeDiv {
    width: 300px;
    height: 300px;
    margin-right: 0px;
    /* margin-top: 30px !important; */
    /* margin-bottom: 100%; */
  }

  .lowerWeWork .shapeDiv .content {
    top: 128%;
  }

  .lowerWeWork .shapeOuter:nth-child(even) .shapeDiv {
    margin-top: 0px;
  }

  .lowerWeWork .after {
    height: 160px;
    left: 0;
    top: 17%;
    right: 0;
    opacity: 0.4;
    /* background-color: rgb(95 198 209 / 70%); */
    background: orange;
  }
  .lowerWeWork .shapeDiv::before {
    bottom: -8%;
    left: 40%;
  }

  .shapeOuter:nth-child(even) .after {
    left: 0;
    top: 17%;
    /* background: orange; */
    background-color: rgb(95 198 209 / 70%);
  }

  .lowerWeWork .shapeOuter .content .drop {
    left: 45%;
    top: -30%;
  }

  .shapeOuter {
    margin-bottom: 65%;
  }

  .lowerWeWork .shapeDiv .iconWrap {
    font-size: 35vw;
  }

  .lowerWeWork .shapeDiv .iconWrap svg {
    top: 25%;
    left: 25%;
  }
}
